@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 10));
  }
}

.App{
  scroll-behavior: smooth;
}


/*NAV BAR*/

nav {
  position: relative; /* To position the sidebar relative to the nav */
  button{
    background-color: transparent;
    border: none;
  }
  
  ul{
    margin-left: 20%;
    width: 60%;
    padding: 0;
    display: flex;
    flex-direction: column;   
    gap: 3em;

    li{
       list-style-type: none;
      a{
        font-size: 1.5em;
        color: #34354b;
        text-decoration: none;
      }
    }

    a:hover{
      color: white;
    }

    img{ 
      width: 10em;
      margin-top: 3em;
      margin-bottom: 3em;
    }
  }
}

.sidebar {
  background-color: #fbdd00;
  width: 50vw;
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  transition: transform 500ms ease;
  transform: translateX(-50vw); /* Initially hidden */
  z-index: 200; /* Ensure sidebar is above other content */
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-toggle{
  margin-top: 30px;
  margin-left: 30px;
  transition: 400ms ease;
  cursor: pointer;
}

.sidebar-toggle:hover, .logo:hover{
  opacity: 50%;
}

.close-sidebar-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none; 
  border: none;
  font-size: 1.5rem;
  cursor: pointer; 
}

.topbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 100;

  .logo{
    position: absolute;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    img{
      margin-top: 30px; 
      height: 3.5em;
      transform: rotate(10deg);
    }
  }

}
/*NAV BAR ENDS*/


/*PHOTO SLIDER*/
.photo-slider {
    display: grid;
    height: 300px;
    overflow: hidden;
    place-items: center;
    position: relative;
    width: 100%;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 20);
}

.slide {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: column;
    padding: 15px;
    position: relative;
    width: 250px;
    padding: 10px;

    img {
      border-radius: 7px;
      cursor: default;
      transition: opacity .4s ease;
      width: 100%;
   }
} 
/*PHOTO SLIDER ENDS*/

/*GENERAL SETTINGS*/
body{
  background-image: url('./images/backgroundmobile.PNG');
  background-size: contain;
  overflow-x: hidden;
  h1, h2 {
    color: #fbdd00;
    opacity: 90%;
    font-size: 2em;
    padding: 10px;
  }

  p, h3{
    color: white;
  }
}

h1, h2, h3, nav li{
  font-family:"peckham-press";
  letter-spacing: 1px;
}

h1, h2{
  letter-spacing: 3px;
  text-align: center;
}

p{
  font-family: "paralucent-condensed";
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 8em;
  padding-bottom: 8em;
  margin-bottom: 5em;
}

.logo, a{
  transition: 400ms ease;
}

/*GENERAL SETTINGS ENDS*/

/*HOME*/

.home-page{
 padding-top: 9.5em;
}

.home-page p{
  width: 30%;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.home-page a{
  text-decoration: none;
}

.home-page a h3, .home-page a svg {
  transform: 400ms ease;
}

.home-page a:hover h3, .home-page a:hover svg {
  opacity: 80%;
}

/*THEME NIGHTS*/
#description{
  width: 35%;
}

.night{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 3em;
  img{
    border-radius: 25px;
    height: 150px;
  }
  h3{
    color: #fbdd00;
    opacity: 90%;
  }
}

.night-info{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  margin-left: 3em;
  width: 400px;
}

.opposite{
  text-align: right;
  margin-left: 0em !important;
  margin-right: 3em;
}
/*THEME NIGHTS ENDS*/

/*WHAT TO BRING*/
.items{
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0;

  li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    height: 10em;
    width: 10em;
    font-family:"alfarn";
    background-color: #fbdd00;
  }
}
/*WHAT TO BRING ENDS*/

/*SAME SETTINGS*/
.theme-nights h2, .what-to-bring h2, .our-info-pay h2{
  margin-bottom: 0;
}

/*SAME SETTINGS ENDS*/

/*PHONE ADJUSTMENT*/

@media (max-width: 1024px) {
  .home-page p{
    width: 65%;
  }
}

@media (max-width: 768px) {
  h3{
    font-size: 0.85em;
  }

  .topbar .logo img{
     height: 3em;
  }

  .photo-slider{
    height: auto;
  }

  .slide-track {
    width: calc(150px * 20);
  }

  .slide {
    width: 150px;
  } 

  body h1, body h2{
    font-size: 1.5em;
  }
  .sidebar {
    width: 70vw;
    transform: translateX(-70vw); /* Initially hidden */
  }

  .items ul li{
    height: 7em;
    width: 7em;
  }

  .home-page p, .what-to-bring p, .our-info-pay p, .contact p{
    width: 80%;
    font-size: 0.85em;
  }

  #description{
    width: 85%;
    font-size: 0.85em;
    text-align: center;
  }

  .night{
    width: 90%;
    margin-top: 3em;
    img{
      height: 130px;
    }
  }

  .night-info{
    margin-left: 3em;
    width: 400px;
   
    p{
      font-size: 0.85em;
      width: 100%;
    }
  }

  .theme-nights, .our-info-pay, .contact{
    padding-left: 17px;
    padding-right: 17px;
  } 
}

